<table border="0" cellspacing="5" cellpadding="5px" width="100%">

    <tr>
        <td colspan="2" valign="top">
            The following users were invited to use KnowledgeTree:
        </td>
    </tr>

    <tr>
        <td width="30%"></td>
        <td width="70%">
            <ul id="invitedList" style="display: block;">
            </ul>
        </td>
    </tr>

    <tr>
        <td colspan="2" valign="top" id="showInvitedGroup">
            As part of the: <span id="invitedGroup"></span> Group
        </td>
    </tr>

    <tr>
        <td width="30%"></td>
        <td width="70%" align="right">
            <input id="ul_actions_upload_btn" class="ul_actions_btns" type="button" value="Close" onClick="kt.app.inviteusers.closeConfirmWindow();" />
        </td>
    </tr>

</table>