    <div id="uploaddialog">
    <form method="post" action="dump.php">
        <table class="uploadTable" border="0" cellspacing="0" cellpadding="0">
        	<!--  tr><td class="ul_heading">Heading</td></tr -->
        	<tr>
        		<td valign="middle" style="height:29px; vertical-align: middle;">
        			<span id="upload_add_file" class="ul_button">Choose Files</span> <span style="display: inline-block; margin: auto 5px">Choose files to upload, then click Upload.</span>
        		</td>
        	</tr>
        	<tr><td class="ul_list"><!-- span class="files"></span --></td></tr>
        	<tr><td class="ul_folder_display">Files will be uploaded to: <span id="uploadpathstring">/tohir</span> <a href="javascript:;" id="changepathlink"  onClick="alert('Not Yet Implemented');" >Change</a></td></tr>
        	<tr><td class="ul_actions"><input type="button" value="Cancel" onClick="alert('Not Yet Implemented');" /><input type="button" value="Add Documents" onClick="alert('Not Yet Implemented');" /></td></tr>
        </table>
    </form>
    </div>