<span class="ul_item">
	<span class="ul_filename">[filename]</span>
	<span class="ul_file_remove" onclick="kt.app.upload.getItem(this).removeItem();"><img title="Remove" src="/resources/graphics/bullet_toggle_close.png"></span>
	<span class="ul_progress"></span>
	<span class="ul_meta_button" onclick="kt.app.upload.getItem(this).showMetadataWindow();"><img title="Edit Metadata" src="/resources/graphics/edit_metadata.png"></span>	
	<span class="ul_bulk_checkbox"><br/><input id="unzip_checkbox" type="checkbox" name="unzip" value="unzip" onchange="kt.app.upload.getItem(this).setAsBulk()"/>Unzip files</span>
</span>