    <div id="uploaddialog">
    <form method="post" action="dump.php">
        <table id="[id]" class="uploadTable" border="0" cellspacing="0" cellpadding="0">
        	<tr><td class="ul_heading">Heading</td></tr>
        	<tr><td><span id="upload_container">f</span><a id="upload_add_file" href="#">Add File</a></td></tr>
        	<tr><td class="ul_list">Upload List</td></tr>
        	<tr><td class="ul_folder_display">Files will be uploaded to: <span id="uploadpathstring">/tohir</span> <a href="javascript:;" id="changepathlink">Change</a></td></tr>
        	<tr><td class="ul_folder_select">Upload Folder Selection</td></tr>
        	<tr><td class="ul_actions"><input type="button" value="Cancel" /><input type="button" value="Add Documents" /></td></tr>
        </table>
    </form>
    </div>