<span class="ul_meta_row">
	<span class="ul_meta_label treelabel" id="ul_meta_label_[id]">[name]
		<span class="ul_meta_label_descr">[description]</span>
	</span>
	<span class="ul_meta_field">
		<span class="ul_meta_fullField ul_meta_field_[id]" id="ul_meta_field_[id]"></span>	
	</span>
</span>

<script type="text/javascript">

Ext.onReady(function(){

	var container = jQuery('#ul_meta_field_[id]')[0];
	
	jQuery.each([tree_lookup_values], function(key, val) { 
		if (val != null) {
			recursivelyBuildTree(key, val)
		}
	});

    function recursivelyBuildTree(key, val) {
    	buildTreeWidget(key, val);
      	
       	if (typeof val == 'object') {
            jQuery.each(val, function(key, val) {
            	recursivelyBuildTree(key, val)
            });
        }
    }

    function buildTreeWidget(key, val) {
        if (typeof val !== 'string') {
            if (val['type'] == 'field') {//val['name'] !== undefined) {
	        	var radio = document.createElement('input');
	        	radio.id = 'ul_meta_field_tree_[id]_'+val['fieldid'];
	        	
	        	radio.type = 'radio';
	        	radio.name = 'ul_meta_field_tree_[id]';	//val['fieldid'];
	        	radio.className ="ul_meta_field_tree_radio";
	
	        	var label = document.createElement('label');
	        	label.htmFor = "ul_meta_field_tree_[id]_"+val['fieldid'];
	        	label.className ="ul_meta_field_tree_label";
	        	var labelText = document.createTextNode(radio.value = val['name']);
	        	label.appendChild(labelText);
	
	        	//if (val['parentid'] == '0') {
	        	container.appendChild(document.createElement("br"));
	        	container.appendChild(radio);  
	        	container.appendChild(label);

	        	//now add the change event
	        	jQuery('input#ul_meta_field_tree_[id]_'+val['fieldid']).change(function() {
    				if(jQuery('input#ul_meta_field_tree_[id]_'+val['fieldid']).attr('checked')) {
    					//console.log('checked! '+val['name']);	
    					kt.app.upload.getMetaItem(this).setMetaData('[id]', val['name'])
    				}
	    		}); 
	        } else if (val['type'] == 'tree' && val['treename'].toLowerCase() != 'root') {
	        	var span = document.createElement('span');
	            span.id = 'ul_meta_field_tree_[id]_'+val['treeid'];
	            span.className ="ul_meta_field_tree_category";
	             
	            span.innerHTML = '<b>'+val['treename'];
	             
	            container.appendChild(span);
			}
	        
        }
    	
    }



    if([is_mandatory] == '1') {
    	jQuery('#ul_meta_field_[id]').addClass('required');
		jQuery('#ul_meta_label_[id]').append("<img class='ul_required_tag' src='/resources/graphics/newui/required_tag.png'/>");
	}

    /*if([is_mandatory] == '1') {
		jQuery('#ul_meta_field_[id]').addClass('required');
	}*/    
});

</script>