<span class="ul_meta_row">
	<span class="ul_meta_label">[name]
		<span class="ul_meta_label_descr">[description]</span>
	</span>
	<span class="ul_meta_field">
		<select id="ul_meta_field_[id]" class="ul_meta_fullField ul_meta_field_[id]" onChange="kt.app.upload.getMetaItem(this).setMetaData('[id]',this.options[this.selectedIndex].value);"></select>
	</span>
</span>

<script type="text/javascript">

Ext.onReady(function(){

	//get the lookup values
    var data = new Array();
    var i = 0;
    for (var key1 in [lookup_values]) {	
    	if (typeof [lookup_values][key1] !== 'function') {    
			for (var key2 in ([lookup_values][key1])) {
				var key = key2.replace('id','');
				var value = [lookup_values][key1][key2];
				if (typeof value !== 'function') {
					data[i++] = new Array(key, value);
				}
			}
    	}
	}

    var select = jQuery('#ul_meta_field_[id]')[0];	

	//need a "No Selection" option
    select.options[0] = new Option ('No selection', '-1', false, false);
    
    for(var i = 1; i < data.length; i++) {
    	select.options[i] = new Option (data[i-1][1], data[i-1][0], false, false);
    }

    if([is_mandatory] == '1') {
		jQuery('#ul_meta_field_[id]').addClass('required');
	}
    
});

</script>