
*~
bin/luceneserver/lucene.pid
bin/schedulerTask.sh 
*.tmproj
.DS_Store
.buildpath
.project
.settings/
dummy.php
var/*
plugins/commercial
clienttools/*
*.out
baobab
ktoffice
setup/wizard/install.lock
config/cache-path
config/config-path
config/config.ini
config/aws_config.ini
bin/luceneserver/KnowledgeTreeIndexer.properties
