*~
bin/luceneserver/lucene.pid
bin/schedulerTask.sh 
*.tmproj
.DS_Store
.buildpath
.project
.settings/
dummy.php
var/*
plugins/commercial
clienttools/ExplorerCP
clienttools/Office
.gitmodules
*.out
baobab/
ktoffice*/
setup/wizard/install.lock
config/aws_config.ini
