<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
  	<!-- Don't show directory listings for URLs which map to a directory. -->
    <directoryBrowse enabled="false" />
    <defaultDocument>
      <!-- Set the default document -->
      <files>
        <remove value="control.php" />
        <add value="control.php" />
      </files>
    </defaultDocument>
  </system.webServer>
	<sites>
	   <site name="KnowledgeTree" />
	   <applicationDefaults applicationPool="DefaultAppPool" />
	   <virtualDirectoryDefaults allowSubDirConfig="true" />
	</sites>
</configuration>