
.ktActionLink.ktDownload, .ktAction.ktDownload { 
    background-image: url(download.png); 
}

#pageBody {
    background: url(page_bg.png) bottom left repeat-x;
}

#navbar
{
    background: url(menubg.png) top left repeat-x;
}

#navbarLeft {
    background: url(menu_corner_left.png) top left no-repeat;
}

#navbarRight {
    background: url(menu_corner_right.png) top right no-repeat;
}

#navbar ul li.active {
    background: #6c8c2f url(menubg-active.png) top left repeat-x;
}

#menu_divider {
    background: url(menu_divider.png) top left no-repeat;
}

.ktBlock {
	background: #ffffff url(dashlet_toprepeat.png) top left repeat-x;
    border: 1px solid #C5C5C5;
}

.ktInfo {
    background: #DEDEDE url(../../resources/graphics/info_toprepeat.png) top left repeat-x;
    border: 1px solid #C5C5C5;
}

.ktError {
	background: #ffdd80 url(../../resources/graphics/error_toprepeat.png) top left repeat-x;
    border: 1px solid #FFC21E;
}

#portletbar .portlet.expanded h4
{
    background: url(minus.gif) 10px 45% no-repeat;
}

#portletbar .portlet.expanded {
    background: #ffffff url(portlet_bg.png) top left repeat-x;
}

#portletbar .portlet {
    background: #ffffff url(portlet_bg_collapsed.png) top left repeat-x;
}

.collapsible.expanded h4
{
    background: url(minus.gif) 10px 50% no-repeat;
}

#content .dashboard_block .action_rollup 
{ 
    background-image: url(bullet_toggle_minus.png);
}

#content .dashboard_block.rolled-up .action_rollup 
{ 
    background-image: url(bullet_toggle_plus.png);
}

#content .dashboard_block .action_close 
{ 
    background-image: url(bullet_toggle_close.png);
}

#document-views .downloadbox ul li.download {
    background-image: url(download.png);
}

#copyrightbarBorder {
    margin-top: 40px;
    margin-bottom: 50px;
    border: 1px solid #BBBBBB;
    background-color: #D1D1D1;
}

/* Font colour definitions */
/*
#content h2
{
    border-color: #eee;
    color: #333;
}

#portletbar .portlet h4
{
    color: #FFFFFF;
}

#portletbar .portlet.expanded h4
{
    color: #FFFFFF;
}

#content a.ktCancelLink {
    border: 1px solid #888;
    color: black;
}

#copyrightbar {
    color: #000000;
}

.copyright {
    color: #888;
    border-top: 1px solid #ccc;
}

#document-views .viewlet h3 {
    color: #333;
}

.collapsible h4
{
    border-color: #eee;
    color: #333;
}

.collapsible.expanded h4
{
    border-color: #eee;
    color: #333;
}

.dashboard_block_handle
{
    font-size:small;
}

#content .ktBlock h2 
{ 
    color: #FFFFFF;
}
*/