@font-face {
   font-family: "Handwriting";
   font-style: normal;
   font-weight: normal;
   src: url("/resources/css/newui/newfeatures/handwriting-Print.woff") format("woff"), url("/resources/css/newui/newfeatures/handwriting-Print.ttf") format("truetype"), url("/resources/css/newui/newfeatures/handwriting-Print.svg") format("svg");
}

div.helperTextOverlay * {
   
}

div.helperTextOverlay {
   
   font-family: DeliciousRoman, Helvetica, Arial, sans-serif;

   background:url('../../graphics/feature_notifications/newfeature_background.png') no-repeat;
   
   padding:15px;
   padding-right: 25px;
   padding-bottom: 25px;
   /*margin:1em 0 3em;*/
   color: #4C80A7;
   
   font-family: "Handwriting";
   
   -webkit-transform: rotate(-9deg); 
   -moz-transform: rotate(-9deg);
   
   width: 140px;
   height: 140px;
   display: block;
   position: absolute;
   z-index: 2000;
   overflow: hidden;

   /* css3 */
   -moz-border-radius:10px;
   -webkit-border-radius:10px;
   border-radius:10px;
}

div.helperTextOverlay a {
   position: absolute;
   top: 3px;
   right: 14px;
   background: url(../../graphics/newui/close.png) no-repeat;
   width: 20px;
   height: 20px;
   text-decoration: none;
   font-size: 10px;
   opacity: 0.75;
   color: transparent;
}

div.helperTextOverlay a:hover {
   opacity: 1;
}

#new_feture_settings_2 {
   background:url('newfeatures/settings.gif') no-repeat;
   left: 400px;
   top: 100px;
   color: transparent;
   height: 133px;
}