.doc_view .notification {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  /* @include shaddow(3px,#999999);*/
  border: 1px solid #ffc21e;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.26, #ffedbd), color-stop(0.37, #ffdd80));
  background-image: -moz-linear-gradient(center top, #ffedbd 26%, #ffdd80 37%);
  padding: 5px 10px;
}
