#content ul.view_doc_tabs, ul.view_doc_tabs {
	list-style:none;
	margin: 0px;
	display: block;
}

.buttonTab{
	display: inline;
	background-color: #CCCCCC;
	color: #FFFFFF;
	padding: 3px 15px;
	margin: 0px 5px;
	font-weight: bold;
	cursor: pointer;
	
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}

.buttonTab:first-child{
	margin-left: 0px;
}

.buttonTab:hover{
	background-color: #BBBBBB;
}

.buttonTabActive{
	background-color: #AAAABB;
}

.buttonTabContentContainer{
	display: block;
	clear: both;
}
.buttonTabContainer{
	margin-top: 15px;
}

.doc_view .doc_header_item{
	display: block;
	clear: both;
	color: #666666;
}

.doc_view .doc_header_item .doc_field_title{
	width: 80px;
	margin: 0px 10px 0px 15px;
	text-align: right;
	font-weight: bold;
}

.doc_view .doc_header_item .doc_field_value .doc_user_link{
	text-decoration: underline;
	cursor: pointer;
	color: blue;
}

#content .doc_view .doc_version{
	font-family: "Lucida Grande",Tahoma,sans-serif;
	letter-spacing: 0.0em;
	font-weight: 300;
	font-size: 12px;
}

#content .doc_view .doc_file_title{
	font-family: "Times New Roman, Times, Courier";
	font-size: 28px;
	letter-spacing: 0.1em;
	font-weight: 500;
	clear:both;
	display: block; 
	margin: 15px 0px 0px 0px;
}

.buttonTabContentContainer table.kt_collection{
	margin-top: 15px;
}

.buttonTabContentContainer .kt_collection td{
	padding: 15px;
}

	