.header, .content {
	margin-top: -25px;
	padding: 50px 25px 25px 25px;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	box-shadow: 0 0 5px #667;
	-webkit-box-shadow: 0 0 5px #667;
	-moz-box-shadow: 0 0 5px #667;
	border: 1px solid #616161;
}

.header {
	position:relative;
	height:20px; 
	z-index:2; 
	background-image:  url('/resources/graphics/newui/header.png');
}

.content {
	padding: 0px;
}

.reasons {
	text-align: left;
	margin: 75px 30px 60px 20px;
	font-size: 14px;
	text-align: left;
	font-family: Arial;
	color: #697474;
}

a {
	color: #74a992;
}	