.ktInfo p { background: transparent  url(../../thirdparty/icon-theme/16x16/status/dialog-information.gif) center left no-repeat; }
.ktError p {     background: transparent  url(../../thirdparty/icon-theme/16x16/status/dialog-warning.gif) center left no-repeat; }
.ktHelp { background: transparent url(../../thirdparty/icon-theme/16x16/apps/help-browser.gif) top left no-repeat; }

.ktActionLink.ktDelete, .ktAction.ktDelete { background: transparent url(../../thirdparty/icon-theme/16x16/mimetypes/x-directory-trash.gif) top left no-repeat; }
.ktActionLink.ktEdit, .ktAction.ktEdit { background: transparent url(../../thirdparty/icon-theme/16x16/actions/document-properties.gif) top left no-repeat; }
.ktActionLink.ktAddUser, .ktAction.ktAddUser { background: transparent url(../../thirdparty/icon-theme/16x16/actions/contact-new.gif) top left no-repeat; }
.ktActionLink.ktAddGroup, .ktAction.ktAddGroup { background: transparent url(../../thirdparty/icon-theme/16x16/actions/group-new.gif) top left no-repeat; }
.ktActionLink.ktAdd, .ktAction.ktAdd { background: transparent url(../../thirdparty/icon-theme/16x16/actions/add.gif) top left no-repeat; }
.ktActionLink.ktDownload, .ktAction.ktDownload { background: transparent url(../../resources/graphics/download.gif) top left no-repeat; }
.ktActionLink.ktBack .ktAction.ktBack { background: transparent url(../../thirdparty/icon-theme/16x16/actions/back.gif) top left no-repeat; }

.contenttype.office { background-image: url(../../resources/mimetypes/office.gif); }
.contenttype.word { background-image: url(../../resources/mimetypes/word.gif); }
.contenttype.database { background-image: url(../../resources/mimetypes/database.gif); }
.contenttype.excel { background-image: url(../../resources/mimetypes/excel.gif); }
.contenttype.openoffice { background-image: url(../../resources/mimetypes/openoffice.gif); }
.contenttype.pdf { background-image: url(../../resources/mimetypes/pdf.gif); }
.contenttype.image { background-image: url(../../resources/mimetypes/image.gif); }
.contenttype.compressed { background-image: url(../../resources/mimetypes/compressed.gif); }
.contenttype.html { background-image: url(../../resources/mimetypes/html.gif); }

.contenttype.txt,
.contenttype.text,
.contenttype.unspecified_type { background-image: url(../../thirdparty/icon-theme/16x16/mimetypes/text-x-generic.gif); }
.contenttype.folder { background-image: url(../../thirdparty/icon-theme/16x16/mimetypes/x-directory-normal.gif); }
