body {
	
}
#loginbox_outer {
	margin-left: auto;
  	margin-right: auto;
  	margin-top: 75px;
}
.header, .content {
	margin-top: -25px;
	padding: 50px 25px 25px 25px;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	box-shadow: 0 0 5px #667;
	-webkit-box-shadow: 0 0 5px #667;
	-moz-box-shadow: 0 0 5px #667;
	border: 1px solid #616161;
}
 
.header {
	position:relative;
	height:20px; 
	z-index:2; 
	background-image: url(../graphics/header.png);
}
 
.login-box {
	background: url(../graphics/loginbox_bg.png) repeat-x;
	background-position: bottom;
	text-align: left;
	padding: 20px;
	width: 250px;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	box-shadow: 0 0 5px #667;
	-webkit-box-shadow: 0 0 5px #667;
	-moz-box-shadow: 0 0 5px #667;
	border: 1px solid #616161;
	margin-left: auto;
  	margin-right: auto;
  	margin-top: 50px;
  	margin-bottom: 50px;
	
}
.login-box label {
	font-size: 12px;
	font-family: Arial;
	font-weight: bold;
	color: #697474;
}
.descriptive-text {
	font-size: 16px;
	font-family: Arial;
	font-weight: bold;
	color: #4f5758;
	margin-top: -5px;
	margin-bottom: 5px;
}
.login-box input, select {
	background: url(../graphics/loginbox_select_bg.png) repeat-x;
	font-size: 18px;
	width: 250px;
	height: 30px;
	padding-left: 2px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border: 1px solid #616161;
	vertical-align: middle;
	margin-top: 3px;
	margin-bottom: 2px;
}
.login-box select {
	width: 254px;
}
.form-actions input {
	font-size: 11px;
	font-weight: bold;
	color: white;
	width: auto;
	padding: 0px 5px 0px 5px;
	text-transform: uppercase;
	background: #697474;
	font-family: Arial;
}
.form-actions {
	text-align: right;
	font-size: 12px;
}
.footer {
	padding: 30 15 0 15;
	font-size: 12px;
	text-align: left;
	font-family: Arial;
	color: #697474;
	margin-top:10px;
}
a {
	color: #74a992;
 
}

/* block level. */
.ktErrorMessage {
	text-align: center;
	vertical-align: middle;
	margin: auto;
	font-size: 12px;
	font-family: Arial;
	color: #4f5758;
	padding: 5px;
	background: url(../graphics/yellow_gradient.png) repeat-x;
	background-position: bottom;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	box-shadow: 0 0 2px #667;
	-webkit-box-shadow: 0 0 2px #667;
	-moz-box-shadow: 0 0 2px #667;
	border: 1px solid #616161;
}

.floatClear
{
    clear: both;
    height: 1px !important;
    margin: 0; border: 0; padding: 0;
    width: 1px;
}