body {
	
}
#loginbox_outer {
	margin-left: auto;
  	margin-right: auto;
  	margin-top: 50px;
  	width: 730px;
}
.content {
	padding: 30px 15px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border: 1px solid #CCC;
	background: #f5f5f5;
	min-height: 400px;
	display: block;
}
 
.header {
	position:relative;
	height:50px; 
	z-index:2; 
	background: url(/resources/graphics/ktlogo-topbar-right.png) no-repeat;
}
.promotions-block {
	display: block;
	height: 400px;
	position: relative;
	float: right;
	margin: 0px 15px 0px 20px;
	border-left: 1px solid #DDD;
	padding-left: 30px;
}
.promotions-block iframe {
	border: 1px solid #CCC;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}
.login-box {
	text-align: left;
	width: 258px;
  	margin: 0px auto 50px 10px;
  	display: block;
}
.login-box label {
	font-size: 12px;
	font-family: Arial;
	color: #697474;
}

.descriptive-text {
	font-size: 20px;
	font-family: Arial;
	font-weight: bold;
	color: #2F6594;
	margin-top: -5px;
	margin-bottom: 10px;
}
.login-box input, select {
	font-size: 18px;
	width: 250px;
	height: 30px;
	padding-left: 2px;
	border-radius: 5px;
	vertical-align: middle;
	margin-top: 3px;
	margin-bottom: 2px;
	outline:none;
}
.login-box .form-field {
	display: inline-block;
	border: 1px solid #CCC;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	box-shadow: inset 0px 1px 1px #666;
	-moz-box-shadow: inset 0px 1px 1px #666;
	-webkit-box-shadow: inset 0px 1px 1px #666;
	padding: 3px;
	background: white;
}
.login-box select {
	width: 254px;
}
.form-actions input {
	font-size: 13px;
	font-weight: bold;
	width: auto;
	text-transform: uppercase;
	background: -webkit-gradient(linear, left top, left bottom, from(white), to(#CCC)) !important;
	font-family: Arial;
	border: 1px solid #BBB;
	color: #2E608E;
	padding: 0px 15px;
	border-radius: 4px;
	text-shadow: 0px 1px 0px white;
}
.form-actions input:hover {
	box-shadow: 0px 0px 5px #BBB;
} 
.form-actions input:active{
	background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#FFF)) !important;
} 
.form-actions {
	text-align: right;
	font-size: 12px;
}
.footer {
	padding: 30 15 0 15;
	font-size: 12px;
	text-align: left;
	font-family: Arial;
	color: #697474;
	margin-top:10px;
}
a {
	color: #2F6594;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
/* block level. */
.ktErrorMessage {
	text-align: center;
	vertical-align: middle;
	margin: auto;
	font-size: 12px;
	font-family: Arial;
	color: #666;
	padding: 5px;
	background: url(../graphics/yellow_gradient.png) repeat-x;
	background-position: bottom;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border: 1px solid #AAA;
	text-shadow: 0px 1px 0px white;
}

.floatClear
{
    clear: both;
    height: 1px !important;
    margin: 0; border: 0; padding: 0;
    width: 1px;
}