/* ------------------ Modal Window Styles ------------------ */

#popup_content .form_actions div.roundleft {
    background: #FFF url('../graphics/newui/gridtoolbarleft.png');
    width: 10px;
    margin: -1px 0px 0px 0px;
	float: left;
	height: 29px;
}

#popup_content .form_actions div.roundright2 {
    background: #FFF url('../graphics/newui/gridtoolbarright.png') 50% 50%;
    margin: -1px 0px 0px 0px;
	float: right;
	width: 9px;
	padding: 0px;
	height: 29px;
}

#popup_content .form_actions input, #popup_content .form_actions a {
	background: transparent url('../graphics/newui/gridtoolbarline.png') top right no-repeat;
	padding: 0 10px 0 10px;
	height: 24px;
	font-size: 10px;
	font-weight: bold;
	color: #6A7274;
	text-decoration: none;
	font-family: sans-serif;
	vertical-align: top;
	border: medium none;
	float: left;
	line-height: 24px;
}

#popup_content .form_actions input:hover, #popup_content .form_actions a:hover {
	color: #000;
	cursor: pointer;
	text-decoration: none;
	border-bottom: none;
}