* { margin: 0; padding: 0; }

body {
    background: white;
    text-align: center;
    font-family: Arial, sans-serif;
    line-height: 1.5;
    font-size: 80%;
    color: #000;
}

h1 {
    font-size: 2em;
    font-weight: normal;
    padding: 10px 0;
    color: #444;
}

h2 {
    font-size: 1.5em;
    font-weight: normal;
    padding: 10px 0;
    color: #555;
}

h3 {
    font-size: 1.2em;
    font-weight: normal;
    padding: 10px 0;
    color: #555;
}

p {
    padding-bottom: 10px;
    word-wrap: break-word;
}

a {
    color: #EC7725;
}

th {
    font-weight: bold;
    text-align: left;
    padding: 5px 5px;
}

td {
    padding: 2px 5px;
}

/* *** Layout Styles *** */

#outer-wrapper {
    text-align: left;
    border: solid 1px #A1A1A1;
    margin: 50px;
    margin-top: 20px;
}

#header {
    background: url("graphics/gradient.png") repeat-y;
    background-position: top right;
    height: 60px;
}

#wrapper {
    background: white url("graphics/background.gif") repeat-y left;
}

#container {
  width: 100%;
  background: white url("graphics/background.gif") repeat-y left;
  float: right;
  margin-left: -200px;
}

#content {
    margin-left: 200px;
    padding: 10px;
    padding-top: 0;
}

#sidebar {
  width: 200px;
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;
}

#footer {
    background: url("graphics/footer.png") repeat-x;
    height: 50px;
    clear: both;
}

.clearing {
    height: 0;
    clear: both;
}

/* Content Styles */

.logo {
    background: url("graphics/logo.png") no-repeat;
    background-position: top left;
    height: inherit;
    width: 200px;
    margin-left: 10px;
}

.menu {
    color: #616161;
    text-align: left;
    line-height: 3;
    padding-left: 20px;
}

.indicator {
    background: url("graphics/indicator.png") no-repeat;
    height: 15px;
    width: 15px;
    padding-left: 20px;
}

.indicator a {
    text-decoration: none;
}

.active {
    background: url("graphics/active.png") no-repeat;
    height: 15px;
    width: 15px;
    padding-left: 20px;
}

.inactive {
    background: url("graphics/inactive.png") no-repeat;
    height: 15px;
    width: 15px;
    padding-left: 20px;
    color: #919191;
}

.tick {
    background: url("graphics/tick.png") no-repeat;
    height: 15px;
    width: 15px;
}

.cross {
    background: url("graphics/cross.png") no-repeat;
    height: 15px;
    width: 15px;
}

.cross_orange {
    background: url("graphics/cross_orange.png") no-repeat;
    height: 15px;
    width: 15px;
}

.green {
    color: green;
    align: center;
}

.orange {
    color: orange;
    align: center;
}

.error {
    color: #9F0000;
}

.errors {
    color: #9F0000;
}

.buttons {
    margin-top: 20px;
    position: relative;
}

.buttons input {
    background: #DDDDDD;
    border: solid 1px #888;
    padding: 2px 8px 2px 5px;
    text-decoration: none;
    color: #EC7725;
}

.buttons a {
    background: #DDDDDD;
    border: solid 1px #888;
    padding: 2px 8px 2px 5px;
    text-decoration: none;
    color: #EC7725;
}

.powered-by {
    background: url("graphics/powered-by-kt.png") no-repeat;
    background-position: center left;
    height: inherit;
    width: 140px;
    margin-left: 10px;
}

.adv_options {

}

.onclick {
     cursor: pointer;
     color: #EC7725;
}

.description {
    color:#898989;
    line-height:150%;
    margin-bottom:0.75em;
}

.top {
    font-size: 2em;
    font-weight: normal;
    padding: 10px 0;
    color: #444;
}

.right_top {
    height:45px;
}
