#sidebar_item.current_alerts ul li { font-size: 11px; padding : 1px; }
#sidebar_item.current_alerts ul li.hidden_alerts { display:none; }
#sidebar_item.current_alerts .more_alerts { font-size: 11px; }
#sidebar_item.current_alerts ul li a.action_icon {
    cursor: pointer;
    float: right;
    height: 16px;
    width: 16px;
    top: 5px;
    position:relative;
}
#sidebar_item.current_alerts ul li a.ktEdit { 
	background-image: url("../../../../../thirdparty/icon-theme/16x16/actions/document-properties.png");

}

#sidebar_item.current_alerts ul li a.ktDelete {
	background-image: url("../../../../../resources/graphics/delete.png");
}