<span class="ul_meta_row">
	<span class="ul_meta_label" id="ul_meta_label_[id]">[name]
	<span class="ul_meta_label_descr">[description]</span>
</span>
<span class="ul_meta_field">
	<textarea id="ul_meta_field_[id]" class="ul_meta_fullField ul_meta_field_[id]" onchange="kt.app.upload.getMetaItem(this).setMetaData('[id]',this.value);" style="height: 50px;"></textarea>
	</span>
</span>

<script type="text/javascript">

Ext.onReady(function(){

	//populate field!
	var cachedVal = kt.app.upload.getMetaItem(jQuery('#ul_meta_field_[id]')).getMetaData([id]);

	if(cachedVal != undefined){
		jQuery('#ul_meta_field_[id]').val(cachedVal);
	}

	//enforce max length
	if([max_length] > 0) {
		if (jQuery.trim(jQuery('#ul_meta_field_[id]').val()).length == 0){
			jQuery('#ul_meta_field_[id]').text('('+[max_length]+' character limit)');
			jQuery('#ul_meta_field_[id]').addClass('large_field_limit_text');
		}

		jQuery('#ul_meta_field_[id]').focus(function() {
			jQuery(this).removeClass('large_field_limit_text');
			jQuery(this).text('');
		});

		jQuery('#ul_meta_field_[id]').blur(function() {
			if (jQuery.trim(jQuery('#ul_meta_field_[id]').val()).length == 0){
				jQuery('#ul_meta_field_[id]').text('('+[max_length]+' character limit)');
				jQuery('#ul_meta_field_[id]').addClass('large_field_limit_text');
			}
		});
		jQuery('#ul_meta_field_[id]').keydown(function() {			
			if(jQuery(this).val().length > [max_length]) {
				var newtext = jQuery(this).val().substring(0, [max_length]);
				jQuery(this).val(newtext);
			}
		});
	}

	//kt.app.upload.getMetaItem(jQuery('#ul_meta_field_[id]'))

	
	if([is_mandatory] == '1') {
		//jQuery('#ul_meta_field_[id]').addClass('required');
		jQuery('#ul_meta_label_[id]').append("<img class='ul_required_tag' src='/resources/graphics/newui/required_tag.png'/>");

		if(cachedVal != undefined){	//if (jQuery.trim(jQuery(this).val()).length == 0){
			//register as required field
			kt.app.upload.getMetaItem(jQuery('#ul_meta_field_[id]')).registerRequiredFieldNotDone('ul_meta_field_[id]');
		}

		jQuery('#ul_meta_field_[id]').change(function() {			
			if([max_length] > 0) {
				if(jQuery(this).val().length > [max_length]) {
					var newtext = jQuery(this).val().substring(0, [max_length]);
					jQuery(this).val(newtext);
				}
			}
			
			if (jQuery.trim(jQuery(this).val()).length == 0){
				kt.app.upload.getMetaItem(jQuery('#ul_meta_field_[id]')).registerRequiredFieldNotDone('ul_meta_field_[id]');
			} else {
				kt.app.upload.getMetaItem(jQuery('#ul_meta_field_[id]')).registerRequiredFieldDone('ul_meta_field_[id]');
			}
		});
	}

});

</script>