<span class="ul_meta_row">
	<span class="ul_meta_label" id="ul_meta_label_[id]">[name]
		<span class="ul_meta_label_descr">[description]</span>
	</span>
	
	<span id="ul_meta_field_htmlEditor_[id]"  class="ul_meta_field"></span>
</span>

<script type="text/javascript">

Ext.onReady(function(){

	//populate field!
	var cachedVal = kt.app.upload.getMetaItem(jQuery('#ul_meta_field_htmlEditor_[id]')).getMetaData([id]);
	
    var htmlEd = new Ext.form.HtmlEditor({
        width: 290,
        height: 200, 
        id: 'ul_meta_field_[id]',
        cls: 'ul_meta_fullField ul_meta_field_[id]',
        autoscroll: true,
        enableLinks: false,
        enableFont: false,
		enableColors: false,
		enableAlignments: false,
		enableSourceEdit: false,
		value:	cachedVal,
		listeners: {
            'sync': function(editor, text){
		    	kt.app.upload.getMetaItem(jQuery('#ul_meta_field_htmlEditor_[id]')).setMetaData('[id]', text);

				//ensure that not blank text
    			if([is_mandatory] == '1') {
					//remove <br> and &nbsp;
    				var trimmed = text.replace(/(<br>)|&nbsp;/g, '').trim();

					if(requiredDone && trimmed.length == 0) {
						requiredDone = false;
						kt.app.upload.getMetaItem(jQuery('#ul_meta_field_htmlEditor_[id]')).registerRequiredFieldNotDone('ul_meta_field_[id]');
					} else if(!requiredDone) {
						requiredDone = true;
						kt.app.upload.getMetaItem(jQuery('#ul_meta_field_htmlEditor_[id]')).registerRequiredFieldDone('ul_meta_field_[id]');
					}
    			}
			}
    	}
    });

    htmlEd.render('ul_meta_field_htmlEditor_[id]');

    if([is_mandatory] == '1') {
    	//jQuery('#ul_meta_field_[id]').addClass('required');
		jQuery('#ul_meta_label_[id]').append("<img class='ul_required_tag' src='/resources/graphics/newui/required_tag.png'/>");

		if (cachedVal != undefined) {
			//register as required field
			kt.app.upload.getMetaItem(jQuery('#ul_meta_field_htmlEditor_[id]')).registerRequiredFieldNotDone('ul_meta_field_[id]');
		}

		var requiredDone = false;
	}
    
});

</script>