<?xml version="1.0" encoding="UTF-8"?>

<!--
    Document   : config.xml
    Created on : 01 July 2009, 9:57 AM
    Author     : KnowledgeTree Team
    Description: Migrateer steps
-->

<migrate version="3.7" type="Commercial Edition">
    <steps>
        <step name="Welcome">welcome</step>
        <step name="Current Installation" mode="silent">installation</step>
       	<step name="Deactivate Services" order="3" mode="silent">services</step>
        <step name="Database Migration" order="1">database</step>
        <step name="Complete">complete</step>
    </steps>
 </migrate>