#logo {
	right:70%;
}

#step_content_templates {
	border: 1px solid rgb(207, 207, 207);
	overflow: auto;
	padding: 5px;
	min-height:315px;
}

.button_skip {
	float:right;
	margin-left:5px;
	margin-top:10px;
}


#template_options {
	width : 20px;
}

.tree_folder {
	background-image:url(../../../../thirdpartyjs/extjs/resources/images/default/tree/folder.gif);
}

.open {
	background-image:url(../../../../thirdpartyjs/extjs/resources/images/default/tree/folder-open.gif);
}
/* TODO: Check connectors again */

.connector-closed {
	background-image:url(../../../../thirdpartyjs/extjs/resources/images/default/tree/elbow-plus.gif);
}

.connector-closed-first {
	background-image:url(../../../../thirdpartyjs/extjs/resources/images/default/tree/elbow-plus.gif);
}

.connector-closed-end {
	background-image:url(../../../../thirdpartyjs/extjs/resources/images/default/tree/elbow-end-plus.gif);
}

.connector-open {
	background-image:url(../../../../thirdpartyjs/extjs/resources/images/default/tree/elbow-minus.gif);
}

.connector-open-first {
	background-image:url(../../../../thirdpartyjs/extjs/resources/images/default/tree/elbow-minus.gif);
}

.connector-open-end {
	background-image:url(../../../../thirdpartyjs/extjs/resources/images/default/tree/elbow-end-minus.gif);
}

.tree_node_edit {
	background-image:url(../../../../thirdparty/icon-theme/16x16/actions/document-properties.png);
}

.tree_node_delete {
	background-image:url(../../../../resources/graphics/delete.png);
}

.tree_node_add {
	background-image:url(../../../../thirdparty/icon-theme/16x16/actions/add.gif);
}

.tree_node_description {
	background-image:url(graphics/question.gif);
}

#tree_editable {
	float : right;
	width: 700px;
}

.tree_table td {
	float:left;
	padding: 1px 1px;
}

.action_form {
	margin-left:35px;
}

.tree_icon {
	float:left;
	height:16px;
	width:16px;
	cursor: pointer;
}