#logo {
	position:relative;
	right:700px;
	top:20px;
}

td.ext_description {
	width:330px;
}

#outer-wrapper {
	border:1px solid #B7B7B7;
	margin-left:auto;
	margin-right:auto;
	width:964px;
}

#outer-outer-wrapper {
	margin-left:auto;
	margin-right:auto;
}

#content {
	padding-left:50px;
    margin-left: 220px;
    height:515px;
}

#step_content {
	height: 400px;
	overflow:auto;
}