#step_content_installation {
	border: 1px solid rgb(207, 207, 207);
	overflow: auto;
	padding: 5px;
	/*min-height:365px;*/min-height:300px;
}

#step_content_services {
	border: 1px solid rgb(207, 207, 207);
	overflow: auto;
	padding: 5px;
	/*min-height:340px;*/min-height:285px;
}

#step_content_database {
	border: 1px solid rgb(207, 207, 207);
	overflow: auto;
	padding: 5px;
	/*min-height:380px;*/min-height:315px;
}

#step_content_complete {
	border: 1px solid rgb(207, 207, 207);
	overflow: auto;
	padding: 5px;
	/*min-height:360px;*/min-height:295px;
}

.notop {
	top:0px;
}