* { margin: 0; padding: 0; }

body {
	background-attachment:scroll;
	background-color:transparent;
	background-image:url("../graphics/dame/loginbg.png");
	background-position:0 0;
	background-repeat:repeat-x;
	font-family:sans-serif;
	color:grey;
	z-index:10;
}

h1 {
	font-size:165%;
	margin-bottom:5px;
	margin-top:0;
}

h2 {
    font-size: 1.5em;
    font-weight: normal;
    padding: 10px 0;
    color: #555;
}

h3 {
    font-size: 1.2em;
    font-weight: normal;
    padding: 10px 0;
    color: #555;
}


p {
    padding-bottom: 10px;
    word-wrap: break-word;
}

p.title {
	font-size: 165%;
	margin-bottom: 5px;
	margin-top: 0px;
}

a {
    color: #EC7725;
}

th {
    font-weight: bold;
    text-align: left;
    padding: 5px 5px;
}

td {
    padding: 2px 5px;
}

select {
    width: 320px;
}

/* *** Layout Styles *** */

#wrapper {
	background: white; min-height:500px;
}

#outer-wrapper {
	border:1px solid #B7B7B7;
	margin-top:20px;
	/*width:1024px;*/width:964px;
}

#header {
	background: transparent url("../graphics/dame/installer_head.png") repeat scroll 0% 0%;
	text-align: right;
	font-size: 100%;
	color: rgb(167, 167, 167);
	font-family: sans-serif;
	height: 71px;
	font-family:sans-serif;
	padding-right:15px;
}

#container {
	background: white url("../graphics/left.png") repeat-y left;
	overflow:auto;
	/*min-height:630px;height:410px;*/min-height:500px;
}

#content {
    margin-left: 220px;
    /*height:515px;*/height:500px;
}

#content_container {
	padding:20px;
	vertical-align: middle;
	font-size: 10pt;
}

#step_content {
	border: 1px solid rgb(207, 207, 207);
	padding: 5px;
	overflow: auto;
	/*min-height: 400px;*/min-height: 300px;
}

#step_content_dependencies {
	border: 1px solid rgb(207, 207, 207);
	/*padding: 5px;*/padding: 12px;
	/*min-height:270px;*/min-height:170px;
}

#step_content_configuration {
	border: 1px solid rgb(207, 207, 207);
	padding: 5px;
	/*min-height:320px;*//*height:330px*/min-height:130px;
}

#step_content_services {
	border: 1px solid rgb(207, 207, 207);
	padding: 5px;
	min-height:230px;
}

#step_content_registration {
	border: 1px solid rgb(207, 207, 207);
	padding: 5px;
	/*min-height:320px;*/min-height:100px;
}

#step_content_registration_confirm {
	border: 1px solid rgb(207, 207, 207);
	padding: 5px;
	/*min-height:400px;*/min-height:300px;
}

#step_content_install {
	border: 1px solid rgb(207, 207, 207);
	padding: 5px;
	/*min-height:400px;*/min-height:150px;
}

#step_content_database {
	border: 1px solid rgb(207, 207, 207);
	padding: 5px;
	/*min-height:365px;*/min-height:240px;
}

#step_content_database_confirm {
	border: 1px solid rgb(207, 207, 207);
	padding: 5px;
	min-height:370px;
}

#step_content_complete {
	border: 1px solid rgb(207, 207, 207);
	padding: 5px;
	min-height:340px;
}

.license_agreement {
	overflow: scroll;
	/*height:370px;*/height:270px;
	overflow-x:hidden;
	border:1px solid #CFCFCF;
}

#sidebar {
	font-size: 85%;
	color: grey;
	font-family: sans-serif;
	margin-top: 0px;
	float: left;
	padding-top: 20px;
	padding-bottom: 20px;
	line-height:3;
	padding-left:20px;
	text-align:left;
}

#footer {
	background-image:url("../graphics/dame/navbar.png");
	height:35px;
}

.clearing {
    height: 0;
    clear: both;
}

/* Content Styles */

.logo {
    background: url("../graphics/logo.png") no-repeat;
    background-position: top left;
    height: 50px;
    width: 200px;
    margin-left: 10px;
}

#logo {
	position:relative;
	/*right:760px;*/right:75%;
	/*top:20px;*/top:25%;
}

#install_details {
	bottom:20px;
	position:relative;
	right:10px;
}

.indicator a {
	background:url("../graphics/dame/tick1.png") no-repeat left;
	padding-top:15px;
	padding-bottom:10px;
	padding-left:30px;
	color: #1c9e00;
}

.active {
	background:url("../graphics/dame/tick1.png") no-repeat left;
	padding-top:15px;
	padding-bottom:10px;
	padding-left:30px;
	color: #1c9e00;
}

.inactive {
	background:url("../graphics/dame/tick2.png") no-repeat left;
	padding-top:15px;
	padding-bottom:10px;
	padding-left:30px;
	color:#a7a7a7;
}

.current {
	background:url("../graphics/dame/dot.png") no-repeat left;
	padding-top:15px;
	padding-bottom:10px;
	padding-left:30px;
	color: #f36a00;
}

.tick {
    background: url("../graphics/tick.png") no-repeat;
    height: 16px;
    width: 16px;
}

.cross {
    background: url("../graphics/cross.png") no-repeat;
    height: 16px;
    width: 16px;
    color:#A30000;
}

.cross_orange {
    background: url("../graphics/cross_orange.png") no-repeat;
    height: 16px;
    width: 16px;
    color:#EC7725;
}

.green {
    color: green;
    align: center;
}

.orange {
    color: orange;
    align: center;
}

.error {
	font-weight: bold;
    color: red;
}

.conf_paths {
	/*width:755px;*/width:100%;
}

.errors {
    color: #9F0000;
}

.buttons {
    bottom: 40px;
    right:20px;
    position: absolute;
    width:120px;
}

.back {
	background-image: url("../graphics/dame/kt_gradient.jpg");
	background-repeat:repeat-x;
	border:1px solid #CECECE;
	float:left;
	font-size:13px;
	font-weight:bold;
	margin-left:0;
	margin-top:10px;
}

.textinput {
	margin-top:0px;
	float:left;
}

.step input {
	background-image: url("../graphics/dame/kt_gradient.jpg");
	background-repeat:repeat-x;
	border:1px solid #CECECE;
	float:right;
	font-size:13px;
	font-weight:bold;
	margin-left:5px;
	/*margin-top:10px;*/
}

.step .radio {
	float:none;
}

.button_next {
	float:right;
	margin-left:5px;
	margin-top:10px;
}

.button_previous {
	float:left;
	margin-left:0px;
	margin-top:10px;
}

.button_radio_next {
	float:none;
	margin-left:0px;
	margin-top:0px;
}

.buttons a {
    background: #DDDDDD;
    border: solid 1px #888;
    padding: 2px 8px 2px 5px;
    text-decoration: none;
    color: #EC7725;
}

.powered-by {
    background: url("../graphics/powered-by-kt.png") no-repeat;
    background-position: center left;
    height: 50px;
    width: 140px;
    margin-left: 10px;
}

.adv_options {

}

.onclick {
     cursor: pointer;
     color: #EC7725;
     /*width: 150px;*//*width:350px;top:12px;position:relative;*/width:350px;padding-top:12px;position:static;
}

.description {
    color:#898989;
    line-height:150%;
    font-size:90%;
}

.disclaimer {
    border: solid 1px #EFBE87;
    margin: 0 20px;
    padding: 5px;
    font-size: 85%;
}

.top {
    font-size: 2em;
    font-weight: normal;
    padding: 10px 0;
    color: #444;
}

.right_top {
    height:45px;
}

#dbconf {
	width:755px;
}

table#dbconf tr td {
	width:50%;
}

table#dbconf tr td input{

}

.options {
	width:15%;
}

.adv_options {
	padding: 5px 8px;
}

/*#section {

}*/

.php_ext_details table {
	width:745px;
}

/*.php_ext_details table tr {

}*/

td.ext_indicator {
	width:10px;
}

td.ext_name {
	width:110p;
}

td.ext_description {
	width:360px;
}

td.ext_error {
	width:350px;
}

td.ext_refresh {
	width:10px;
}

td.dir_name {
	width:200px;
}

td.dir_description {
	width:200px;
}

.php_con_details table {
	/*width:745px;*/width:675px;
}

.error_message {
	border:none;
	color:#A30000;
	padding:0px;
	color:red;
	font-size:90%;
	margin-bottom:0.75em;
	font-weight:bold;
}

.warning_message{
	border:none;
	color:#A30000;
	padding:0px;
	color:#EC7725;
	font-size:90%;
	margin-bottom:0.75em;
	font-weight:bold;
}

.continue_message {
	border:none;
	width:550px;
	padding:0px;
	color:#898989;
	font-size:90%;
	margin-bottom:0.75em;
	height:16px;
}

.big_ok {
	background: url("../graphics/big-ok.png") no-repeat;
	padding:4px;
}

.db_adv_options {
	height:200px;
	width:720px;
}

.adv_option {
	height:65px;
	width:720px;
}

#tooltips {
	background: url("../graphics/question.gif") no-repeat;
	width:16px;
	height:16px;
	cursor:pointer;
}

.empty_space {
	font-size:12pt;
}

.demo {
	/*left:75px;
	position:relative;
	width:600px*/
}

.text_message {

}

.description_click {
    line-height:150%;
    font-size:90%;
}

.specify {
    background: #DDDDDD;
    border: solid 1px #888;
    padding: 2px 8px 2px 5px;
    text-decoration: none;
    color: #EC7725;
}

#loading {
	bottom:250px;
	/*left:500px;*/left:400px;
	position:relative;
	height:0px;
	width:0px;
}

#install_options {
	position:relative;
	padding-left: 400px;
	padding-top: 10px;
}

#left_space {
	float:left;
	width:50%;
	font-size:11pt;
}

#welcome_license_dependencies {
	height:100px;
}

.dependency_details {
	/*top:12px;*/padding-top:12px;
	/*position:relative;*/position:static;
	width:650px;
}

.dependencies {
	/*position:relative;*/position:static;
	right:30%;
	/*width:880px;*/width:650px;
}

.registration_template {
	width:90%;
}

.registration_select {
    width: 270px;
}

.description_complete {
	/*position:relative;*/position:static;
	right:35%;
	width:100%;
}

.space {
	padding-bottom:5px;
}

.advoptions {
	top:0px;
}

.description_1 {
	color:#898989;
	font-size:100%;
	line-height:150%;
	font-family:sans-serif;
}

.twitter {

}

.facebook {

}

.connect {
	float:none;
	padding-bottom:0;
	padding-left:560px;
	padding-right:10px;
	padding-top:10px;
	position:static;
}