<table border="0" cellspacing="5" cellpadding="5px" class="uploadTable">
    <tr>
        <td valign="top">
            Enter or copy and paste the email address(es) of the user(s) you want to share this content with.
            Users outside your organization will only be able to see the content you have shared with them.
        </td>
    </tr>

    <tr><td>&nbsp;</td></tr>

    <tr>
        <td valign="top">
            Share with (separate email addresses with a space or comma):
        </td>
    </tr>

    <tr>
        <td>
        	<textarea name="share.emails" id="share.emails" rows="3" cols="65" class="modalField"></textarea>
        </td>
    </tr>

    <tr>
        <td valign="top">
            Message (Optional):
        </td>
	</tr>
	<tr>
        <td>
            <textarea name="share.message" id="share.message" rows="3" cols="65" class="modalField"></textarea>
        </td>

    </tr>

    <tr>
        <td>
        	<input type="checkbox" name="readonly" id="readonly" class="readonly">&nbsp;<label for="read.only">Read-only</label>
        </td>
    </tr>
</table>
<div class="action-footer">
	<div class="form_actions">
		<a class="ul_actions_cancel_link" href="javascript: kt.app.sharewithusers.closeWindow();">Cancel</a>
		<input id="ul_actions_upload_btn" class="ul_actions_btns" type="button" value="Share" onClick="kt.app.sharewithusers.inviteUsers('shared');" />
		<input type="hidden" name="object.id" id="object.id" value="">
		<input type="hidden" name="object.type" id="object.type" value="">
	</div>
</div>