<table border="0" cellspacing="5" cellpadding="5px">

    <tr>
        <td colspan="2" valign="top">
            Enter or copy and paste the email addresses of the user(s) you want to invite to use KnowledgeTree. Each invited user will have their access limited to shared content only.
        </td>
    </tr>

    <tr>
        <td>&nbsp;</td>
    </tr>

    <tr>
        <td width="30%" valign="top">
            Invite Users:
        </td>
        <td width="70%">
            <textarea name="invite.emails" id="invite.emails" rows="3" cols="46" ></textarea>
        </td>
    </tr>
    
    <tr>
        <td width="30%"></td>
        <td width="70%" align="right">
            <input id="ul_actions_upload_btn" class="ul_actions_btns" type="button" value="Invite" onClick="kt.app.inviteusers.inviteUsers();" />
            &nbsp;&nbsp;
            <a class="ul_actions_cancel_link" href="javascript: kt.app.inviteusers.closeWindow();">Cancel</a>
        </td>
    </tr>

</table>
