<table border="0" cellspacing="5" cellpadding="5px">
    <tr>
        <td colspan="2" valign="top">
            Share with:
        </td>
    </tr>

    <tr>
        <td>
        	<textarea name="share.emails" id="share.emails" rows="3" cols="63" ></textarea>
        </td>
    </tr>

    <tr>
        <td width="30%" valign="top">
            Message:
        </td>
	</tr>
	<tr>
        <td width="70%">
            <textarea name="share.message" id="share.message" rows="3" cols="63" ></textarea>
        </td>
        
    </tr>

    <tr>
        <td width="30%">
        	<label for="read.only">Read-only</label>
        	<input type="checkbox" name="readonly" id="readonly" class="readonly">
        </td>
    </tr>
    
    <tr>
        <td width="30%" align="right">
			<input id="ul_actions_upload_btn" class="ul_actions_btns" type="button" value="Share" onClick="kt.app.sharewithusers.inviteUsers('shared');" />
            &nbsp;&nbsp;
            <a class="ul_actions_cancel_link" href="javascript: kt.app.sharewithusers.closeWindow();">Cancel</a>
            <input type="hidden" name="object.id" id="object.id" value="">
            <input type="hidden" name="object.type" id="object.type" value="">
        </td>
        <td width="70%">
        
        </td>
    </tr>

</table>