/* Admin Page Landing */

div.menuitems {
	-moz-border-radius:15px 15px 15px 15px;
	-moz-box-shadow:0 0 5px #666677;
	border:1px solid #616161;
	padding:25px;
	width:370px;
	position:relative;
}

div#leftmenu {
	left:110px;
}

div#rightmenu {
	float:right;
	bottom:270px;
	left:535px;
}

div.adminheadings {
	position:absolute;
	width:200px;
	height:50px;
    font-family:"Arial", sans-serif;
    font-weight:bold;
    font-style:normal;
    font-size:24px;
    color: Gray;
}

div.admintops {
	background: url('../graphics/newui/admin/contentSettings.png') no-repeat top left;
	position:absolute;
	width:428px;
	height:28px;
}

div.adminsides {
	position:absolute;
	width:3px;
	height:338px;
	background: url('../graphics/newui/admin/side.png') no-repeat top left;
}

div.adminbottoms {
	position:absolute;
	background: url('../graphics/newui/admin/bottom.png') no-repeat top left;
	bottom:95px;
	width:428px;
	height:13px;
}

div.adminitems {
	position:absolute;
	width:418px;
	height:330px;
	padding: 25px;
}

div#contentSettings {
	left:110px;
	top:180px;
}

div#headingContents {
	left:150px;
	top:185px;
}

div#headingAccounts {
	left:695px;
	top:185px;
}

div#contentleftside {
	left:110px;
}

div#contentrightside {
	left:535px;
}

div#contentbottom {
	left:110px;
}

div#accountSettings {
	top:180px;
	left:655px;
}

div#accountleftside {
	left:655px;
}

div#accountrightside {
	right:356px;
}

div#accountbottom {
	left:655px;
}

div#rightMenu {
	left:655px;
}

div#leftMenu {
	left:110px;
}

div#usageStats {
	width:240px;
}

div#upgradePlan {
	width:600px;
	float:right;
	bottom:213px;
}

div.stats {
	-moz-border-radius:15px 15px 15px 15px;
	-moz-box-shadow:0 0 5px #666677;
	border:1px solid #616161;
	padding:25px;
	position:relative;
}

div.leftHeading {
	width:150px;
}

div.rightHeading {
	width:150px;
}