@mixin corners($size){
	-webkit-border-radius: $size;
	-moz-border-radius: $size;
	border-radius: $size;
}

@mixin shaddow($size,$color){
	-webkit-box-shadow: 0px 0px $size $color ;
	-moz-box-shadow: 0px 0px $size $color; 
	box-shadow: 0px 0px $size $color; 
}

@mixin hoverIcon($width,$height,$standardIcon,$hoverIcon){
	background: url($standardIcon);
	width: $width;
	height: $height;
	display: inline-block;
	clear: none;
	&:hover{
		background: url($hoverIcon);
	}
}

@mixin smallHoverIcon($standardIcon,$hoverIcon){
	@include hoverIcon(16px,16px,$standardIcon,$hoverIcon);
}

@mixin tooltipIcon($standardIcon,$hoverIcon){
	@include smallHoverIcon($standardIcon,$hoverIcon);
	position: relative;
	span:first-child{
		@include corners(5px);
		@include shaddow(5px,#000000);
		border: 1px solid #CE9B00;
		background-color: #FFEDB7;
		padding: 10px;
		position: absolute;
		width: 160px;
		top: 16px;
		left: -146px;
		display: none;
		z-index: 20000;
		&:hover{
			left: -5000px;
		}
	}
	&:hover{
		span:first-child{
			display: block; 
		}
	}
}

@mixin dropMenu(){
	cursor: pointer;
	position: relative;
	&>ul{
		text-align: left;
		display: none;
		position: absolute;
		margin: 0px;
		padding: 0px !important;
		list-style: none;
		width: $menuWidth;
		border: 1px solid $iconbg;
		background-color: $hbgcolor;
		@include shaddow(5px,darken($hbgcolor,80%));
		@include corners(3px);
		z-index: 20000;
		left: 20-$menuWidth;
		top: 15px;
		cursor: auto;
		li{
			display: block;
			margin: inherit;
			padding: 2px 10px;
			margin: 2px 5px;
			cursor: pointer;
			@include corners(4px);
			border: 1px solid transparent;
			&:first-child{
				margin-top: 5px;
			}
			&:last-child{
				margin-bottom: 5px;
			}
			&:hover{
				background-color: $menuItemBg;
				border: 1px solid $menuItemBo;
				
			}
			a,a:link,a:active,a:visited,a:hover{
				text-decoration: none;
				display: block;
				color: inherit !important;
				border: none !important;
			}
		}
	}
	&:hover{
		&>ul{
			display: block;
		}
	}
}

@mixin iconDropMenu($standardIcon,$hoverIcon){
	@include smallHoverIcon($standardIcon,$hoverIcon);
	@include dropMenu();
}

$bgcolor:#FFFFFF;
$bcolor:darken($bgcolor, 3%);

$hbgcolor: darken($bgcolor, 6%);
$hbcolor: darken($hbgcolor, 8%); 

$iconbg:$hbcolor;

$font: sans-serif;
$font-color: lighten(#000000,20%);

$menuWidth: 200px;
$menuItemBg: #EEEEEE;
$menuItemBo: darken($menuItemBg, 8%);

$expanderFieldBg: lighten($hbgcolor, 10%);
$expanderFieldBo: darken($hbgcolor,8%);


#content{
	overflow: visible;
}

.standardBorder{
	@include corners(5px);
	@include shaddow(5px, #666677);
	padding: 15px;
	margin: 5px;
}



.doc.browseView{
	.doc.item.debug{
		*{
			border: 1px solid transparent;
			&:hover{
				border: 1px solid #A10000 !important;
			}
		}
	}
	
	.doc.item{
		font-family: $font;
		font-size: 11px;
		color: $font-color;
		border: 1px solid transparent;
		border-bottom: 1px solid $hbcolor;
		padding: 5px;
		margin: 5px;

		td{
			vertical-align: top;
		}
	
		&:hover{
			@include corners(3px);
			background-color: $hbgcolor;
			border: 1px solid $hbcolor; 
		}
		
		.workflow_info{
			@include tooltipIcon("/resources/graphics/newui/doc_workflow_info.png","/resources/graphics/newui/doc_workflow_info_h.png");
		}
		
		.immutable_info{
			@include tooltipIcon("/resources/graphics/newui/doc_immutable.png","/resources/graphics/newui/doc_immutable_h.png");
		}
		
		.checked_out{
			@include tooltipIcon("/resources/graphics/newui/doc_checkedout.png","/resources/graphics/newui/doc_checkedout_h.png");
		}
	}
	
	.doc.icon_cell{
		padding-right: 5px;
		margin: 0px;
		
		.doc.icon{
			background-image:url(/resources/graphics/newui/doc_placeholder_icon.png);
			width: 32px;
			height: 32px;
			position: relative;
			padding: 0px;
			margin: 0px;

			.doc.preview{
				position: absolute;
				width: 150px;
				height: 200px;
				display: none;
				cursor: pointer;
				border: 1px solid $iconbg;
				background-color: $hbgcolor;
				@include shaddow(5px,darken($hbgcolor,80%));
				@include corners(3px);
				padding: 2px;
				z-index: 20000;
				left: 15px;
				top: 20px;
			}
			
			&:hover{
				.doc.preview{
					display: block;
				}
			}
		}
	}
	
	.doc.summary_cell{
		.title{
			display: inline-block;
			font-size: 14px;
			font-weight: bold;
			padding-bottom: 5px;
			margin-right: 15px;	
		}
		
		.detail{
			.item{
				font-weight: bold;
				margin-right: 10px;
				.user{
					font-weight: normal;
				}
				.date{
					font-weight: normal;
				}
			}
		}
	}
	
	.not_supported{
		visibility: hidden  !important;
	}
	
	.interact{
		width: 80px;
	}
	
	.actionIcon.actions{
		@include iconDropMenu("/resources/graphics/newui/actions.png","/resources/graphics/newui/actions.png");
	}
	
	.actionIcon.comments{
		@include smallHoverIcon("/resources/graphics/newui/comment.png","/resources/graphics/newui/comment.png");
		text-align: center;
		cursor: pointer;
	}
	
	.expanderField{
		@include corners(5px);
		padding: 10px;
		margin-left: 32px+5px;
		background-color: $expanderFieldBg;
		border: 1px solid $expanderFieldBo;
		display: none;
	}
}