@import 'mixins';
.ul_win,.ul_meta{
	/* background-color: #F1F1F1; */
	.x-window-mc,.x-window-ml,.x-window-mr,.x-window-bl,.x-window-br,.x-window-bc{
		background-color: #77BCDB;
		border: none;
	}
	.x-window-ml,.x-window-bl,.x-window-br{
		padding-left: 3px;
	}
	.x-window-mr,.x-window-br{
		padding-right: 3px;
	}
	.x-window-bc{
		height: 3px;
	}
	.x-window-mc{
		background-color: #F1F1F1;
		padding: 10px;
	}

}
.ul_win_body,.ul_meta_body{
	overflow: hidden;
	background-color: #F1F1F1;
	border: none;
}

table.uploadTable{
	width: 100%;
	height: 300px;
	
	input, label {
		font-family: tahoma,arial,helvetica,sans-serif;
	}
	
	td{
		height: 1px;
	}
	
	.ul_doctype{
		float: right;
		display: inline-block;
		width: 120px;
	}
	
	.ul_browser{}
	
	.no_files_selected {
		margin: 18% auto auto auto;
		font-family: tahoma,arial,helvetica,sans-serif;
		font-size: 11px;
		/*font-weight: bold;*/
		/*color:	#666666;*/
		width: 120px;
		display: block;
	}
	
	.ul_list{
		max-height: 200px;
		min-height: 200px;
		margin: 10px 0px;
		vertical-align:top; 
		padding: 5px; 
		overflow: auto;
		display: block;
		border: 1px solid #85A2BD;
		background-color: #FFFFFF;
	}
	.ul_actions{
		
		input[type="button"]{
			float: right;
			margin: 5px;
			cursor: pointer;
			@include corners(8px);
			@include gradient(#F1F1F1,#FFFFFF);
			@include shadow(4px, #A8A8A8);
			border: 1px solid #A8A8A8;	
			padding: 2px 5px;
			text-align: center;
			font-size: 11px;
			font-weight: bold;
			color: #666666;
			
			&:hover{
				color:black;
			}
		
		}
		input[type="button"][disabled] {
			color: #CCCCCC;
		}
		
	}
	.files{
		height:auto; 
		vertical-align:top; 
		padding: 5px; 
/*		border: 1px solid #333333; */
		height: 100%; 
		overflow: auto;
	}
	.qq-upload-list{ display: none;}
	.qq-upload-button{
		cursor: pointer;
		@include corners(8px);
		@include gradient(#F1F1F1,#FFFFFF);
		@include shadow(4px, #A8A8A8);
		border: 1px solid #A8A8A8;	
		padding: 6px 15px;
		text-align: center;
		color: #666666;			
		&:hover{
			color:black;
		}
	}
	.qq-upload-drop-area{
		height: 50px;
		font-weight: bold;
		text-align: center;
		background-color: #00A1A1;
	}
	.ul_button{
		font-size: 11px; 
		display: inline-block;
		width: auto;
		font-weight: bold;
		input{
			cursor: pointer;
		}
	}
	.ul_item{
		min-height: 14px;
		border-bottom: 1px solid #DAECF6;
		width: auto;
		display: block;
		padding: 10px 5px;
		margin-bottom: 5px;
		.ul_filename{
			float: left;
			font-size: 11px;
			color: #595959;
/*			font-weight: bold; */
		}
		.ul_file_remove,.ul_progress,.ul_meta_button{
			float: right;
		}
		.ul_file_remove,.ul_meta_button{
			cursor: pointer;
		}
		.ul_meta_button{
			margin: 0px 10px;
		}
		.ul_progress{
			cursor: default;
			color: #00A100;
			&.active{
				color: #A10000;
			}
			font-weight: bold;
			margin: 0px 15px;
			width: 100px;
		}
		.ul_bulk_checkbox {
			display: none;
			clear: both;
		}
		#unzip_checkbox {
			margin-right: 5px;
		}
		#unzip_checkbox_label {
			top: -2px;
			position: relative;
		}
		/* while it is uploading to s3  - preparing upload */
		&.ul_f_uploading{
			.ul_progress{
				color: #FF9933;
			}
			background-color: #FFFF97;
		}
		
		/* while it is waiting to be added - ready */
		&.ul_f_waiting{
			.ul_progress{
				
				color: RGB(0, 97, 0);
			}
			background-color: RGB(198, 239, 206);
		}
		
		/* while it is waiting for compulsory metadata - enter metadata */
		&.ul_f_ui_meta{
			.ul_progress{
				color: RGB(156, 0, 6);
				&:hover {
					text-decoration: underline;
				}
			}
			background-color: RGB(255, 199, 206);
						
		}
		
		/* while it is adding a document to knowledgetree- uploading document */
		&.ul_f_add_doc{
			.ul_progress{
				color: RGB(156, 101, 0);
			}
			background-color: RGB(255, 235, 156);
		}

		/* when it is done - upload successful */
		&.ul_f_done{
			.ul_progress{
				color: #0D51CC;
			}
		}

		/* when an error has occurred - upload failed */
		&.ul_f_error{
		}
	}
}

table.metadataTable{

	input, select, label {
		font-family: tahoma,arial,helvetica,sans-serif;
		font-size: 12px;
	}

	width: 100%;
	height: 300px;
	td{
		height: 1px;
	}
	.ul_meta_selectDocType{
		font-size: 12px;
		font-weight: bold;
		margin-top: 5px;
		.ul_meta_docTypeOptions{
			float: right;
			display: inline-block;
		}
	}
	
	.ul_metadata{
		margin: 10px 0px;
		vertical-align:top; 
		padding: 15px; 
		overflow: auto;
		display: block;
		border: 1px solid #85A2BD;
		background-color: darken(#FFFFFF, 3%);
		height: 250px;
		.ul_meta_fieldset{
			@include corners(5px);
			@include shadow(5px, #999999);
			border: 1px solid #85A2BD;
			padding: 15px 0px 5px 0px;
			margin-bottom: 15px;
			position: relative;
			background-color: #FFFFFF;
			display: block;
			&:first-child{
				margin-top: 3px;
			}
			
			span.ul_meta_title{
				@include corners(5px);
				position: absolute;
				top: -8px;
				left: 15px;
				font-weight: bold;
				font-size: 12px;
				border: 1px solid #85A2BD;
				background-color: inherit;
				padding: 2px 5px;
			}
			
			.ul_meta_row{
				@include gradient(darken(#FFFFFF,5%),#FFFFFF);
				display: block;
				vertical-align: top;
				padding: 4px 0px;
				border-bottom: 1px solid #DDDDDD;
				&:last-child{
					border-bottom: 1px solid transparent;
				}
				
				.ul_required_tag {
					margin-bottom: -5px;
				}
			}
			
			.ul_meta_fullField{
				width: 100%;
			}
			.ul_meta_field{
				width: 285px;
				display: block;
				margin-left: 20px;
				margin-bottom: 8px;
			
				
				label{
					display:block;
					padding-left: 5px;
					margin-top: -10px;
		   	 		/*text-indent: 5px;*/
					float:left;
					font-size: 11px;
				}
				input[type="checkbox"]{
					float:left;
					padding-left:2px;
					margin-top: -10px;
				}
				
				.ul_meta_field_tree_category {
					margin-bottom: 5px;
					margin-top: 10px;
					display: inline-block;
				}
				
				.ul_meta_field_tree_label {
					margin-top: 0px;
					float: none;
				}
				.ul_meta_field_tree_radio {
					float: left;
					margin-right: 2px;
				}
				
				/*.ul_meta_field_checkbox_label{
					background-color:#666699;
				}*/
			}
			.required {
				/*background-color:#666699;*/
				/*background: url(/resources/graphics/newui/required_tag.png) no-repeat;*/
			}
			.ul_meta_label{
				width: 285px;
				display: block;
				padding-right: 8px;
				padding-left: 8px;
				margin-bottom: 8px;
				/* text-align: right; */
				cursor: help;
				position: relative;
				color: #666666;
				font-weight: bold;
				font-size: 12px;
				.ul_meta_label_descr{
					@include corners(3px);
					@include shadow(10px, #000000);
					padding: 5px;
					background-color: #FFF0B8;
					border: 1px solid darken(#E1D084,35%);
					position: absolute;
					top: 5px;
					left: 5px;
					display: none;
					width: 220px;
					z-index: 9999999;
					cursor: inherit;
					font-weight: normal;
					color: #000000;
				}
				&:hover{
					.ul_meta_label_descr{
						display: block;
					}
				}
			}
		}
	}
	
	.ul_meta_actionbar{
		text-align: right;
		input[type="button"]{
			margin: 5px;
			cursor: pointer;
			@include corners(8px);
			@include gradient(#F1F1F1,#FFFFFF);
			@include shadow(4px, #A8A8A8);
			border: 1px solid #A8A8A8;	
			padding: 2px 5px;
			text-align: center;
			font-family: tahoma,arial,helvetica,sans-serif;
			font-size: 11px;
			font-weight: bold;
			color: #666666;
			
			&:hover{
				color:black;
			}
			
			input[type="button"][disabled] {
				color: #CCCCCC;
			}
		}
		label{
			display:block;
			padding-left: 5px;
			margin-top: 10px;
   	 		/*text-indent: 5px;*/
			float:left;
			font-size: 11px;
		}
		input[type="checkbox"]{
			float:left;
			padding-left:2px;
			margin-top: 10px;
		}
	}
	
}

div#folderpathchooser {
    background: #fff;
	border: 1px solid #000;
	padding: 3px;
	height: 100px;
	overflow: auto;
	margin: 10px 0px;
	
	div.loading {
		background: url(../../graphics/newui/preview-loading.gif) no-repeat 50% 50%;
		height: 90px;
	}
	
	ul#currentPathStuff li {
		margin-bottom: 3px;
		padding: 2px;
		padding-left: 25px;
		background: url(../../graphics/folder_closed.png) no-repeat 0 50%;
		
		border: 1px solid transparent;
		/* border-bottom: 1px solid #F1F1F1; */
		
		&:hover {
				border: 1px solid #BDD9E8;
				background-color: #FFFDE6;
				cursor: pointer;
		}
	}
}